@charset "UTF-8";

/*common*/
#about,
#business,
#contact{
  padding: 100px 0 150px;
  text-align: center;
}
#about h1,
#business h1,
#contact h1{
  font-family: 'mont_thin';
  font-size: 70px;
}
.subtitle{
  margin: 20px auto;
  letter-spacing: 0.5em;
  color: #2A95E4;
}
.subtitle:after{
  content: "";
  display: block;
  width: 50px;
  height: 1px;
  margin: 20px auto 50px;
  background: #000;
}
p{
  width: 500px;
  margin: 0 auto;
}

/*about*/
#about img{
  display: block;
  width: 130px;
  height: 130px;
  margin: 50px auto;
  background: #eee;
  border-radius: 50%;
}
#about section{
}
#about section ul{
  text-align: left;
  display: inline-block;
  width: 260px;
}
#about section ul:first-child{
  margin-right: 50px;
}
#about section ul li{
  margin-bottom: 25px;
}
#about section ul li b{
  display: block;
  margin-bottom: 5px;
}
#about section ul li span{
  color: #7d7d7d;
}

/*business*/
#business section{
  font-size: 0;
  margin: 50px auto 100px;
}
#business section img{
  display: inline-block;
  width: 130px;
  height: 130px;
  margin-right: 55px;
  background: #eee;
  border-radius: 50%;
}
#business section img:last-child{
  margin-right: 0;
}

/*contact*/
#contact textarea#message{
  height: 150px;
}
.mdl-textfield{
  display: block;
  width: 500px;
  margin: 0 auto;
}
.mdl-textfield__label:after{
  background: #2A95E4;
}
.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label {
  font-family: 'mont_bold';
  color: #2A95E4;
}
.mdl-textfield__error{
  left: 0;
}
#contact input.submit{
  border: none;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  position: relative;
  top: 0px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.25);
  transition: all ease 0.3s;
  background: #2A95E4;
  font-family: 'mont_light';
  letter-spacing: 0.1em;
  color: #fff;
}
#contact input.submit:hover{
  top: -1px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all ease 0.3s;
}
